//@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/bootstrap-reboot";
@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/utilities/float";
@import "~bootstrap/scss/utilities/sizing";
@import "~bootstrap/scss/utilities/text";

html, body {
  height: 100%;
}

body {
  background-color: #f7f9fb;
  font-size: 14px;
}

.brand {
  width: 90px;
  height: 90px;
  overflow: hidden;
  border-radius: 50%;
  margin: 40px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .05);
  position: relative;
  z-index: 1;

  img {
    width: 100%;
  }
}

.card {
  width: 410px;
  max-width: 95%;
  border-color: transparent;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .05);

  .card-title {
    margin-bottom: 30px;
  }

  form {
    .form-group {
      label {
        width: 100%;
      }

      .form-control {
        border-width: 2px;
      }

      .custom-checkbox {
        cursor: pointer;
        label {
          cursor: pointer;
        }
      }
    }
  }
}
